{% extends 'base.html' %}

{% block title_block %}About Us{% endblock %}
{% block body_block %}

<style>
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color:wheat;
    
  }
  main {
    margin: auto;
    height: auto;
    padding: 50px 0;
  }
  
  section {
    display: flex;
    position: relative; 
  }
  
  .about-content {
    flex: 2;
    padding: 20px;
    background-color: rgba(156, 123, 123, 0.8);
    border-radius: 4px;
    background: transparent;
  }
  
  .team-photo-container {
    flex: 1;
    padding-top: 80px;
    position: relative; 
    
  }
  
  .team-photo-container img{  
   height: 400px;
   width: 300px;
  }
  h2{
    color: gray;
    text-transform: uppercase;
    font-weight: 600;
  }
 
</style>

  <main>
    <section class="about-us">
      
      <div class="about-content">


        <div class="we">
          <h2><i class="ri-task-line"></i>Our Mission</h2>
          <p>Our mission is to provide quality online business services to our clients or customers</p>
          <h2>Our Team<i class="ri-team-line"></i></h2>
          <p>We are a great team that work together and headed by our Leader Kamuli Bob</p>
        </div>
        <div class="reachus">
          <h2></i><i class="ri-contacts-book-2-line"></i>Contact Us<i class="ri-contacts-line"></i></h2>
          <p>Contact phone: 0742098888</p>
          <p>Email Address: eco@gmail.com</p>
          <h2>Eco-Store Info<i class="ri-information-fill"></i></h2>
          <p>Eco- Store is an online website that enables businessmen to manage their businesses online</p>
          <p>It helps our customers to conduct online businesses</p>
        </div>
      </div>
      <div class="team-photo-container">
        <img src="../static/css/group.jpeg" alt="Team Photo">
      </div>
    </section>
  </main>

{% endblock %}