{% extends "base.html" %} {% block body_block %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <style>
      body{
        font-family: sans-serif;
        font-size: 18px;
        text-align: center;
        background-color: whitesmoke;
      }
      .box{
        background: none;
        display: flex;
        width: 500px;
        display: block;
        padding: 10px;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid blue;
        transition: 1s ease;
        

      }
      .form{
        text-align: justify;
        background: hsl(209, 34%, 87%);
        width: 600px;
        height: 750px;
        margin:  auto;
        /* padding:12px 20px; */
        border-radius: 20px;
        border: 1px solid white;
        align-items: center;
        padding: 50px;
        box-shadow: 15px 20px 20px rgb(139, 137, 137); 
      }
      .btn{
        font-size: 20px;
        font-family: sans-serif;
        height: 50px;
        width: 300px;
        padding: 10px 20px;
        display: block;
        border: 0;
        outline: none;
        margin: auto;
        color: whitesmoke;
        background: #0400ff;
        margin-top: 10px;
        border-radius: 15px;
        transition: 0.3s ease;
      }
      h1{
        font-size: 40px;
        font-family: sans-serif;
        font-style: oblique;
        color: black;
      }
      .btn:hover{
        opacity: 0.8;
      }
    </style>
  </head>
  <body>
    <h1>Add Product</h1>
   
    <br><br>
    <form action="" method="POST" enctype="multipart/form-data" class="form">

      {% csrf_token %} {{ form.as_p }}
      <button class="btn" type="submit">Add Product</button>
    </form>
  </body>
</html>
<br /><br /><br /><br /><br /><br /><br />

{% endblock %}
