
{% extends 'base.html' %}


{% block body_block %}
<style>
    form{
        background-color: aliceblue;
        border: 1px solid rgb(173, 163, 163);
        border-radius: 5px;
        width: 500px;
        margin: 80px 350px;
        padding: 10px;
        box-shadow: 15px 20px 20px #504e4eee;
        /* padding-top: 50px; */
    }
</style>

<form action="">
    <h1 style="text-transform: uppercase; text-align: center;">{{business.name}}</h1>
    <p>owned by {{business.owner}}</p>
    <p>it is a {{business.business_type}} business</p>
    <p>Located in {{business.city}} city</p>
    
</form>

{% endblock %}