{% extends 'base.html' %}

{% block body_block %}
<style>
    .card{
        background-image: url('../static/css/deliver.jpg');
        
        background-size: cover;
        background-position: top 25% right 0;
        width: 100%;
        padding: 0 80px;
        height:80vh;
        
    }
    form{
        align-items: center;
        margin: auto;
        width: 400px;
        height: 550px;
        background-color: silver;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: transparent;
        color: rgb(253, 248, 248);
       font-weight: 600;
    }
    .box{
        
        border: none;
        border-bottom: 1px solid rgb(74, 35, 243);
        border-radius: 0px;
        width: 350px;
        display: flex;
        padding: 10px 5px;
        background: none;
    }
    .box::placeholder{
        font-size: 18px;
        color: rgb(12, 12, 12);
        font-weight: 400;
    }
    button{
        font-size: 20px;
        font-weight: 600;
        height: 50px;
        width: 300px;
        padding: 10px 20px;
        display: block;
        border: 0;
        outline: none;
        margin: auto;
        color: whitesmoke;
        background: rgb(54, 11, 245);
        margin-top: 10px;
        border-radius: 15px;
        transition: 0.3s ease;
    }
    button:hoover{
        opacity: 0.8;
        
    }

</style>
<div class="container mt-5">
    <h2 class="mb-3" style="font-style: oblique; 
    color: black;
    font-size: 30px;">
        Shipping Address <span class="text-muted">Checkout</span>
    </h2>
    <div class="row">
        <div class="col-md-9">
            <div class="card mb-5" style="height: auto;">
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{form}}
                        <button type="submit">Save Address</button>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-md-3">
            <div class="cardd" style="height: auto;">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for order_item in order_items %}
                            <li class="list-group-item">{{order_item.item.name}} x {{order_item.quantity}}</li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="card-footer">
                    <span class="float-left"><b>Ordar Total</b></span>
                    <span class="float-right"><b>Ugx. {{order_total}}</b></span>
                </div>
            </div>
            <br>
            
                <a href="#" class="btn btn-success btn-lg btn-block mt-3">Payment</a> 
            
            <div class="alert alert-info">
                <p style="font-style: italic; color: black;">Please fill up all the information before payment.</p>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}