{% extends "base.html" %}
{% block body_block %}
<style>
    *{
        box-sizing: border-box;
    }
    body{
        font-family: sans-serif;
        font-style: oblique;
        margin:0;
        padding:0;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        height: auto;
        width: 400px;
        margin:10px auto;
        padding: 10px 20px;
        background-color: #f2f2f2;
        font-weight: 600;
        
        border-radius: 5px;
        box-shadow: 15px 20px 20px #504e4eee;
    }
    input[type=text],  input[type=email], textarea {
        width: 100%;
        padding: 12px;
        background-color: #f2f2f2;
        border: none;
        border-bottom: 1px solid blue;
        border-radius: 2px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    textarea {
        border: 1px solid blue;
        border-radius: 4px;
    }
    .btn{
        background-color: green;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        margin: 10px 15px;
        cursor: pointer;
        border-radius: 3px;
        transition: 0.3s ease;
    }
    .btn:hover{
        opacity: 0.8;
        color:black;
    }
  
</style>
<body>
    <div>
        <h2>Contact Us</h2>
        <form action="POST" enctype="multipart/form-data">
            <label for="name">Name:</label>
            <input type="text" name='name' placeholder="enter your name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="enter your email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" placeholder="type here..." required></textarea>
            
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</body>
{% endblock %}