{% extends 'base.html' %}

{% block body_block %}
  <h1>Delete Product</h1>
  <form method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete this product?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'App_Shop/product_detail' product.pk %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}