{% extends "base.html" %}
{% load static %}
{% block body_block %}

<style>
    * {
        box-sizing: border-box;
    }

    .container {
        width: 200%;
        /* margin: 0; */
        padding: 0;

    }

    body {
        width: 100%;
        height: 100%;
        /* margin: 0; */
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        background-color: white;

    }

    h2 {
        text-align: center;
        color: black;
        font-size: 60px;
        font-style: oblique;

    }

    .action-wrap {
        background-color: wheat;
        border: 2px solid whitesmoke;
        border-radius: 5px;
    }

    .info-wrap {

        background-color: whitesmoke;
        border: 1px solid whitesmoke;
        border-radius: 5px;
    }

    .card {
        border-radius: 5px;
        box-shadow: 20px 15px 20px rgb(223, 236, 243);

    }

    .col-md-6 {
        transition: 0.3s;
    }

    .col-md-6:hover {
        transform: translateY(-5px);
    }

    .welcome {
        display: block;
        font-family: sans-serif;
        font-size: 20px;
        color: rgb(240, 10, 10);

    }

    img {
        height: 350px;
        width: 600px;
    }


    .box {
        display: none;
        margin: 0 auto;
        /* center the image containers */
        width: 100%;
        /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0, 0, 0, 0.22); */
        /* material box shadow */
        margin-bottom: 20px;
        transition-duration: 1s;
        cursor: pointer;
        height: auto;

    }

    .box:hover {
        width: 90%;
        box-shadow: 0 18px 36px rgba(0, 0, 0, 0.30), 0 14px 11px rgba(0, 0, 0, 0.22);
    }

    .container-slide .box img {
        vertical-align: middle;
        width: 100%;
        height: 400px;
    }


    .container-slide {
        position: relative;
        max-width: 1000px;
        margin: auto;
    }


    .row {
        padding: 0;
    }
</style>
<div class="container my-5">
    <div class="welcome">
        <h1 style="color: orangered; font-style: italic;"><strong>Welcome to Eco store</strong></h1>

    </div>
    <section id="hero">

        <div class="container-slide">
            <div class="box w3-animate-right">
                <img src="../static/css/PIC1.svg" alt="">
            </div>
            <div class="box w3-animate-left">
                <img src="../static/css/pic2.svg" alt="">
            </div>
            <div class="box w3-animate-top">
                <img src="../static/css/PIC3.svg" alt="">
            </div>
            <script>
                let slideindex = 1
                showslides();
                function showslides() {
                    let i;
                    let slides = document.getElementsByClassName('box');
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slideindex++;
                    if (slideindex > slides.length) {
                        slideindex = 1;
                    }
                    slides[slideindex - 1].style.display = "block";
                    setTimeout(showslides, 2000);
                }
            </script>
    </section>
    <h2><strong>Featured Products</strong></h2>
    <div class="row">
        {% for product in object_list %}
        <a href="{% url 'App_Shop:product_detail' pk=product.pk %}">
            <div class="col-md-6 col-sm-12 col-lg-3">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="/media/{{product.mainimage}}" style="width: 100%; height:300px;">
                    </div>
                    <figcaption class="info-wrap">
                        <h6 class="title"><a href="" style="color:black">{{product.name}}</a></h6>
                        <div class="action-wrap">
                            <div class="price-wrap h5">
                                <span class="price-new" style="color: black; font-size: 23px;">Ugx.
                                    {{product.price}}</span>
                                <span class="price-old" style="color: red; font-size: 20px;">Ugx.
                                    {{product.old_price}}</span>
                            </div>
                        </div>
                    </figcaption>

                </figure>
            </div>
        </a>

        {% endfor %}
    </div>
    <h2><strong>Most trending Products</strong></h2>
    <div class="row">
        {% for product in object_list %}
        <a href="{% url 'App_Shop:product_detail' pk=product.pk %}">
            <div class="col-md-6 col-sm-12 col-lg-3">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="/media/{{product.mainimage}}" style="width: 100%; height:300px;">
                    </div>
                    <figcaption class="info-wrap">
                        <h6 class="title"><a href="" style="color:black">{{product.name}}</a></h6>
                        <div class="action-wrap">
                            <div class="price-wrap h5">
                                <span class="price-new" style="color: black; font-size: 23px;">Ugx.
                                    {{product.price}}</span>
                                <span class="price-old" style="color: red; font-size: 20px;">Ugx.
                                    {{product.old_price}}</span>
                            </div>
                        </div>
                    </figcaption>

                </figure>
            </div>
        </a>

        {% endfor %}
    </div>
</div>

{% endblock %}