{% extends 'base.html' %}

{% block body_block %}
<style>
    form{
        background-color: whitesmoke;
        text-transform: uppercase;
        border: 1px solid whitesmoke;
        border-radius: 8px;
        width: 400px;
        height: auto;
        margin: 100px 350px;
        padding: 5px;
        font-weight: 500;
        font-size: 20px;
        box-shadow: 10px 10px rgb(192, 189, 189);
    }
</style>

<form action="">
    <h3 style="text-align: center;">LIST OF BUSINESSES</h3>
        {% for business in businesses %}
    <li>
        <a href="{% url 'App_Shop:business_detail' business.pk %}">{{business.name}}</a>
        {% endfor %}
    </li>

</form>
{% endblock %}