{% extends 'base.html' %}
{% block body_block %}
<style>
  h2{
    font-size: 40px;
    font-style: oblique;
    color: black;
    text-align: justify;
  }
  .card{
    border-radius: 20px;
  }
  .table{
    border-radius: 20px;
  }
  .badge{
    font-size: 20px;
  }
  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #d3d9df;
  }
</style>
<div class="container mt-5">
  <h2 class="text-center"><strong>Your Orders</strong></h2>
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5" style="height:auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order Id</th>
                <th scope="col">Products</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="#">{{ order.orderId }}</a></td>
                <td>
                  {% for item in order.orderitems.all %} {{item}} <br> {% endfor %}
                </td>
                <td><span class="badge badge-primary">Processing Your Order</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-12 my-5 text-center">
      <a href="{% url 'App_Shop:home' %}" style="text-decoration: none; color: green; font-size: 40px; background-color: whitesmoke;">Bact to Home</a>
    </div>
  </div>
</div>
{% endblock %}