{% extends 'base.html'%}
{% block body_block %}
<style>
    body{
        font-family: sans-serif;
        text-align: center;
        background-color: white;
        background-position: center;
    }

    .form{
        display: flex;
        flex-direction: column;
        margin: 6% auto;
        align-items: center;
        width: 700px;
        height: 90%;
        background: rgb(250, 248, 248);
        text-align: center;
        padding: 20px;
        border: 1px solid whitesmoke;
        box-shadow: 15px 20px 20px #504e4eee;
        border-radius: 15px;
        
    }
    .register{
        width: 400px;
        padding: 10px 20px;
        display: block;
        border: 0;
        outline: none;
        margin: auto;
        color: whitesmoke;
        background: #1608db;
        margin-top: 15px;
        border-radius: 15px;
        transition: 0.3s ease;

    }
    .register:hover{
        opacity: 0.8;
    }
    .box{
        display: flex;
        background-color: rgb(248, 246, 242);
        width: 450px;
        padding: 8px;
        border: none;
        border-bottom: 1px solid rgb(106, 14, 255);
        transition: 0.3s ease;

    }
</style>
<h1 style="color: gray;">Business Form</h1>
<form class="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 style="text-align: center; color: black; font-style: oblique; font-size: 40px;">Register Business</h1>
    {{form.as_p}}
    <button class= "register" type="submit">Register Business</button>

</form>

</div><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}