{% extends "base.html" %} {% block body_block %}
<style>
    body{
        font-family: sans-serif;
        text-align: center;
        /* background-image: url('../static/css/search.jpeg'); */
    }
    form{
        width: 750px;
        height: 300px;
        margin: auto;
        font-weight: 800;
        font-size: 40px;
        background: silver;
        border-radius: 20px;
        margin-top: 30px;
        
    }
    .btn{
        width: 150px;

        background-color: blue;
        font-weight: 600;
        color: white;
        padding-bottom: 10px;
        font-size: 18px;
        border-radius: 15px;
        transition: 0.3s ease;
    }
    .btn:hover{
        background-color: rgb(61, 233, 26);
    }
    .see{
        border: 2px solid black;
        border-radius: 10px;
        width: 400px;
        padding: 10px 5px;
        font-size: 18px;
        height: 35px;
        padding-bottom: 8px;
    }
    .text{
        margin-left: 5px;
    }
    .action-wrap{
        background-color: wheat;
        border: 2px solid whitesmoke;
        border-radius: 5px;
    }
    .info-wrap{
        
        background-color: whitesmoke;
        border: 1px solid whitesmoke;
        border-radius: 5px;
    }
    .col-md-6{
        transition: 0.4s;
    }
    .col-md-6:hover{
        transform: translateY(-5px);
    }
</style>

<h1 style="color: black; font-size: 30px; font-style: oblique;"><strong>Search Products</strong></h1>
<form action="" method="POST">
  {%csrf_token%}
  <p><span>Find Anything in <span style="color:red; width:50px;">ec</span><span style="color:green;">oS</span><span
    style="color:blue;">TO</span><span style="color:gold;">RE</span></span></p>
  <input type="text" class="see" placeholder="Search here..." name="search" />
  <button type="submit" class="btn">GO</button>
</form>

{%if searched%} 

{%for product in searched%} 
<a href="{% url 'App_Shop:product_detail' pk=product.pk %}" style="color:black">
<div class="container my-5">
    
    <div class="row">
        
        <div class="col-md-6 col-sm-12 col-lg-3">
           
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="/media/{{product.mainimage}}" style="width: 100%; height:300px;">
                    </div>
                    
                        <figcaption class="info-wrap">
                            <h6 class="title">{{product.name}}</h6>
                            <div class="action-wrap">
                                <div class="price-wrap h5">
                                    <span class="price-new">Ugx. {{product.price}}</span>
                                    <span class="price-old">Ugx. {{product.old_price}}</span>
                                </div>
                            </div>
                        </figcaption>
                    

                </figure>
            
        </div>     
        
    </div>
</div></a>
{%endfor%}

 {%endif%}
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
