{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
    <title>{% block title_block %} Eco store {% endblock %}</title>
    <style>
        .card{
            height: 350px;
        }
        .card-product:after{
            content: "";
            display: table;
            clear: both;
            visibility: hidden;
        }
        .card-product .price-new, .card-product .price{
            margin-right: 5px;
        }
        .card-product .price-old{
            color: #999;
            text-decoration: line-through;
        }
        .card-product .img-wrap{
            border-radius: 3px 3px 0 0;
            overflow: hidden;
            position: relative;
            height: 220px;
            text-align: center;
        }
        .card-product .img-wrap img{
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
        .card-product .info-wrap{
            overflow: hidden;
            padding: 16px;
            border-top: 1px solid #eee;
        }
        .card-product .action-wrap{
            padding-top: 4px;
            margin-top: 4px;
        }
        .card-product .bottom-wrap{
            padding: 15px;
            border-top: 1px solid #eee;
        }
        .card-product .title{
            margin-top: 0px;
        }

 
        .last{
            text-align: center;
            font-family: sans-serif;
            font-size: 18px;
            color: #000;
        }
        .last a{
            text-decoration: none;
            color: #000;
        }
        .last a:hover{
            color: #000;
        }
        .container{
            margin-top: 100px;
        }
        .messages{
            margin-top: 100px;
        }
        .messages .alert{
            margin-bottom: 10px;
        }
        .messages .alert button{
            float: right;
        }
        .nav ul{
            list-style-type:none;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="messages container mt-2">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block body_block %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <footer style="background:silver; height:auto; padding:15px;">
        <div class="nav">
           <ul>
              <li><a class="active" href="{%url 'App_Shop:home'%}"><span>Home<i class="ri-home-4-line"></i></span></a></li><br>
              <li><a href="#"><span>Sign in/Register</span></a></li><br>
              <li><a href="/about"><span>About Us<i class="ri-team-line"></i></span></a></li><br>
              <li><a href="/contact"><span>Contact Us<i class="ri-team-line"></i></span></a></li><br>
              <!-- <li><a href="/contact"><span>Help and Contact<i class="ri-contacts-book-3-fill"></i></span></a></li><br> -->
           </ul>
        </div>
        <hr><br>
        <div class="last">
            <p style="font-size: 20px; color: red;">find us on</p>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-whatsapp"></a>
        </div>
        <div style="text-align:center;">
           <a href="#">Privacy</a>,<a href="#">User Agreement</a>,<a href="#">Cookies&Adchoice</a><br>
           <p>&copy 2024 EcoStore<i class="ri-store-line"></i></p><br>
        </div><br>
     </footer>
</body>
</html>