{% load cart_tag %}
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<style>
    .nav-link{
        border-radius: 10px;
    }
   
    .nav-link:hover{
        background-color: greenyellow;
        text-decoration: none;
    }
    .search{
        margin: auto;
        color: black;
        border-radius: 10px;
        border: 1px solid whitesmoke;
        width: 200px;
        text-align: center;
        margin-left: 110px;
        height: 45px;
        font-size: 30px;
        transition: 0.4s ease;
    }
    .search:hover{
        background-color: grey; 
    }
    .nav-item{
        margin-right: auto;
    }
    .dropdown-item{
        color: blue;
        padding: 5px;
        font-weight: 300;
        transition: 0.3s ease;
    }
    .dropdown-item:hover{
        background-color: rgb(219, 146, 146);
        
    }

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'App_Shop:home'%}"><h2><span style="color:red; width:50px;">ec</span><span style="color:green;">oS</span><span
            style="color:blue;">TO</span><span style="color:gold;">RE<i class="ri-store-line"></i></span></h2></a>
            <a class="search" href="{% url 'App_Shop:search'%}">Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span> </button> 
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'App_Order:cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="badge badge-light">{{request.user | cart_total}}</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-tie"></i> {{request.user.profile.username}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'App_Login:profile'%}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{%url 'App_Shop:orders'%}">Orders</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'App_Shop:add_product'%}">Add Product</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'App_Shop:register_business'%}">Register a Business</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'App_Shop:my_businesses' %}">Your Businesses</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'App_Login:logout'%}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'App_Login:signup' %}">Signup</a>
                    <a class="nav-link" href="{% url 'App_Login:login'%}">Login</a>
                </li>
                {% endif %}
            </ul>
    </div>
</nav>