{% extends 'base.html' %}

{% block body_block %}
<style>
    body{
        margin: auto;
        font-family: sans-serif;
        text-align: center;
        background-color: rgb(14, 14, 248);
        
        
    }
    form{
      
        border-radius: 20px;
        border: 1px solid white;
        align-items: center;
        background-color: rgb(255, 0, 0);
        box-shadow: 15px 20px 20px #504e4eee;
    }
    .box{
        background-color: silver;
        display: flex;
        flex-direction: column;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 4px solid blue;
    }    
    .btn{
       width: 400px;
    }
</style>
<div class="container mt-5">
    <h2 style="font-style: oblique;">
        Shipping Address <span class="text-muted">Checkout</span>
    </h2>
    <div class="row">
        <div class="col-md-9">
            <div class="card mb-5" style="height: auto;">
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{form}}
                        <button class="btn" type="submit">Save Address</button>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-md-3">
            <div class="card" style="height: auto;">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for order_item in order_items %}
                            <li class="list-group-item">{{order_item.item.name}} x {{order_item.quantity}}</li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="card-footer">
                    <span class="float-left"><b>Ordar Total</b></span>
                    <span class="float-right"><b>Ugx. {{order_total}}</b></span>
                </div>
            </div>
            <br>
            {% if saved_address.is_fully_filled %}
                <a href="{% url 'App_Payment:payment' %}" class="btnn">Payment</a> 
            {% else %}
            <div class="alert alert-info">
                <p>Please fill up all the information before payment.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}