{% extends 'base.html' %}

{% block title_block %}Profile{% endblock %}
{% block body_block %}
<style>
    body{
        font-family: sans-serif;
        background-color: #f5f5f5;
        color: black;
        justify-content: center;
        align-items: center;
        
        
    }
    form{
        width: 800px;
        height: 550px;
        margin: auto;
        background-color: silver;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 20px 20px #504e4eee;
}
    .box{
        background: none;
        display: flex;
        width: 500px;
        display: block;
        padding: 10px;
        border-left: none;
        border-top: none;
        border-right: none;
        border-radius: 10px;
        border-bottom: solid 2px rgb(20, 19, 19);
    }
    .box input{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
        
    }
    button{
        background-color: blue;
        width: 200px;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 15px 20px;
        font-weight: 600;
        margin-top: 30px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    button:hover{
        background-color: rgb(45, 45, 199);
    }
</style>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save Profile</button>
</form>
<br><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
