{% extends "base.html" %}

{% block title_block %} Create New Account {% endblock %}
{% block body_block %}
<style>
    body{
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        text-align: center; 
        background-color: rgb(232, 232, 236);
        
    }
    
    .sign{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 6% auto;
        align-items: center;
        width: 500px;
        height: auto;
        background: rgb(250, 248, 248);
        
        padding: 20px;
        border: 1px solid whitesmoke;
        box-shadow: 15px 20px 20px #504e4eee;
        border-radius: 15px;
    }
        
    .btn{
        width: 400px;
        padding: 10px 20px;
        display: block;
        border: 0;
        outline: none;
        margin: auto;
        color: whitesmoke;
        background: #1b04eb;
        margin-top: 15px;
        border-radius: 15px;
        transition: 0.3s ease;

    }
    .btn:hover{
        opacity: 0.8;
    }
    .box{
        width: 100%;
        padding: 12px;
        background: rgb(250, 248, 248);
        border: none;
        border-bottom: 1px solid blue;
        
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical; 
    }
</style>
<h2 style="text-align: center; font-size: 40px; font-style: oblique; color: black;"><strong> Create New Account </strong></h2>
<form class="sign" method="post">
    {% csrf_token %}
    <label for="email">Enter Email</label>
    {{ form.email }}
    <label for="password">Enter Password</label>
    {{ form.password1 }}
    <label for="password">Confirm Password</label>
    {{ form.password2 }}
    <button type="submit" class="btn btn-primary">Create Account</button>
</form>
<br>
<p>Already have an account? <a href="{% url 'App_Login:login' %}" style="text-decoration: none; color: green;">Login here</a></p>
{% endblock %}
